target/
build/
.build/
dist/
*.egg-info
.vscode/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/
.idea/
*.iml
*.pyc
.kdev4
*.kdev4
*.so
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.attach_pid*
venv
.vs/
qrtone_emscripten.js
*.wasm

