target/
build/
.vscode/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/
.idea/
*.iml
.kdev4
*.kdev4
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
