body {
    font-family: arial;
    margin: 0;
    padding: none;
}
label
{
    display: block;
    width: 150px;
    float: left;
}
#tabs {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#receive {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}